/* ~~~~~ CSS Root Variables starts ~~~~~ */
:root {
  --ps-main: #060606;
  --ps-primary: #ffffffe6;
  --ps-secondary: #ffffff9c;
  --ps-temp-red: #ff0c0c;
  --ps-head: #000000ad;
  --ps-mate: #111111;
}

/* ~~~~~ CSS Root Variables ends ~~~~~ */

/* ~~~~~ Universal Stylings starts ~~~~~ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--ps-main);
}

a {
  text-decoration: none;
}

/* ~~~~~ Universal Stylings ends ~~~~~ */

/* ~~~~~ Scrollbar Customization starts ~~~~~ */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--ps-head);
}

::-webkit-scrollbar-thumb {
  background-color: var(--ps-temp-red);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cf0808;
}

/* ~~~~~ Scrollbar Customization ends ~~~~~ */

/* ~~~~~ Font Families starts ~~~~~ */
.ibm-plex-sans {
  font-family: 'IBM Plex Sans', sans-serif;
}

.lexend-deca {
  font-family: 'Lexend Deca', sans-serif;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

/* ~~~~~ Font Families ends ~~~~~ */

/* ~~~~~ Home Page starts ~~~~~ */
.home-page {
  height: 100vh;
}

.home-page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: url(./assets/img/bg-primary.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.home-box {
  width: 400px;
  gap: 10px;
}

.motion-write-box {
  height: 80px;
}

.motion-write {
  font-size: 60px;
  font-weight: 1000;
  letter-spacing: 0.5px;
  color: var(--ps-primary);
}

.transition-write-box {
  height: 80px;
}

.transition-write-box span {
  color: var(--ps-secondary) !important;
  letter-spacing: 0.2px;
  font-weight: 300;
  transition: all .3s ease-in-out !important;
  -webkit-transition: all .3s ease-in-out !important;
}

.home-btn {
  border: 0.5px solid var(--ps-temp-red);
  padding: 10px 20px;
  color: var(--ps-temp-red);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  background-color: var(--ps-temp-red);
  color: var(--ps-primary);
}

.home-btn:active {
  background-color: #cf0808;
  border: 0.5px solid #cf0808;
  color: white;
}

/* ~~~~~ Home Page ends ~~~~~ */

/* ~~~~~ Beer Page starts ~~~~~ */
.beer-page {
  height: 100vh;
}

.beer-page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: url(./assets/img/bg-tertiary.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.beer-page-heading {
  height: 10vh;
  background-color: var(--ps-head);
  color: var(--ps-primary);
  font-size: 30px;
  font-weight: 1000;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.beer-container {
  height: 100%;
  overflow-y: scroll;
  padding: 40px;
}

.beer-container .container-fluid .row {
  padding-bottom: 40px;
}

.search-box {
  width: 100%;
  padding-top: 10px;
  background-color: var(--ps-head);
}

.search-box input {
  position: relative;
  bottom: 10px;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 5px;
  width: 650px;
  margin: 0 5px;
  color: var(--ps-primary);
  border-bottom: 2px solid #a70000;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.search-box input::placeholder {
  color: #474747;
}

.search-box input:focus {
  border-bottom: 2px solid var(--ps-temp-red);
}

/* ~~~~~ Beer Page ends ~~~~~ */

/* ~~~~~ Beer Card starts ~~~~~ */
.beer-card {
  padding: 10px;
  width: 200px;
  height: 270px;
  background-color: var(--ps-mate);
  border: 0.25px solid var(--ps-mate);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.beer-card:hover {
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  box-shadow: 0px 0px 15px #ffffff1a;
  border: 0.25px solid #ffffff1b;
}

.card-img-box {
  border-radius: 4px;
  width: 100%;
  height: 160px;
  padding: 2px 0;
  background: var(--ps-primary);
}

.card-img {
  height: 100%;
  width: min-content;
}

.card-title {
  color: var(--ps-primary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.view-card-btn {
  gap: 5px;
  border: 0.5px solid var(--ps-temp-red);
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  border-radius: 4px;
  background-color: var(--ps-temp-red);
  color: var(--ps-primary);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.view-card-btn:hover {
  background-color: #ff2626;
  border: 0.5px solid #ff2626;
  color: white;
}

.view-card-btn:active {
  border: 0.5px solid #cf0808;
  background-color: #cf0808;
}

/* ~~~~~ Beer Card ends ~~~~~ */

/* ~~~~~ Single Page starts ~~~~~ */
.single-page {
  padding: 40px;
  gap: 40px;
}

.single-page::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: url(./assets/img/bg-quaternary.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}

.single-img {
  background-color: var(--ps-primary);
  border: 5px solid var(--ps-temp-red);
  width: 250px;
  height: 350px;
  padding: 5px 0;
  border-radius: 1.2px;
}

.single-img img {
  height: 100%;
  width: min-content;
}

.info-head {
  color: var(--ps-primary);
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.info-box {
  gap: 5px;
}

.info-box h6 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #ffffffd1;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.info-line {
  gap: 8px;
  font-size: 15px;
}

.info-line b {
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #ffffffc4;
}

.info-line span {
  font-weight: 300;
  letter-spacing: 0.1px;
  color: var(--ps-secondary);
}

.beer-nav-btn {
  position: fixed;
  color: var(--ps-primary);
  background-color: var(--ps-mate);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  z-index: 50;
}

.beer-nav-btn:hover {
  background-color: #202020;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}

.beer-container .beer-nav-btn {
  top: 115px;
  left: 20px;
}

/* ~~~~~ Single Page ends ~~~~~ */